.App {
  position: relative;

  .skip-button {
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 1.9rem 3rem;
    background-color: #000;
    border-radius: 0.2rem;
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all .2s ease;
    opacity: 0;
  }

  .skip-button:focus,
  .skip-button:active {
    top: 0;
    opacity: 1;
  }
}
